# IntelliJ project files
.idea
*.iml
.sfdx
.sf
.run

scripts/
config/
IlluminatedCloud/
node_modules

# Added by Illuminated Cloud
.localdev/
/out/
target/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo
**/graphql.config.yml